@import "../../../assets//utilities/font_variables.scss";

.navContainer {
    width: 100vw;
    height: 100px;

    margin: 0;
    padding: 0 50px;

    position: relative;

    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    @media (max-width: 1120px) {
        display: none;
    }
    


    .logoContainer {
        width: 136px;
        height: 43px;

        cursor: pointer;

        position: relative;

        .logoImg {
            width: 100%;
        }

    }   

    .navLinks {
        display: flex;
        justify-content: space-around;
        align-items: center;

        min-width: 880px;
        width: 40%;

        // background-color: blue;
        height: 15px;

        &:hover  > .navLink, &:hover .dropdown > p > .navLink {
            color: gray;
        }

        .navLink {
            
            font-size: 13px;
            
            a {
                font-family: $text-font;
                transition: color 0.2s ease-in-out;
            }

            &:hover {
                color: black !important;
            }
        }


        .dropdown {
            &:hover .dropdownContent {
                display: flex;
            }
            .dropdownContent {
                flex-direction: column;

                background-color: white;

                border: 1px solid gray;

                padding: 10px;

                display: none;
                position: absolute;

                &:hover .dropdown {
                    color: black !important;
                }

                a {
                    font-family: $text-font;
                    color: gray;

                    transition: color 0.2s ease-in-out;

                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}