.headerContainer {
    width: 90%;
    height: 98vh;

    margin: auto;

    position: relative;


    @media(max-width: 1450px) {
        height: 80vh;
    }

    @media(max-width: 850px) {
        height: 70vh;
    }

    @media(max-width: 560px) {
        height: 50vh;
    }
}

.smallerHeader {
    width: 90%;
    height: 65vh;

    margin: auto;

    position: relative;


    //responsive 

    @media(max-width: 1680px) {
        width: 95%;
    }
    @media(max-width: 1580px) {
        height: 60vh;
    }
    @media(max-width: 1460px) {
        height: 50vh;
    }
    @media(max-width: 1225px) {
        height: 45vh;
    }
    @media(max-width: 1100px) {
        height: 35vh;
    }
    @media(max-width: 860px) {
        height: 25vh;
    }
    @media (max-width: 630px) {
        height: 20vh;
    }
}