.footerContainer {
    width: 100vw;
    height: 200px;

    position: relative;

    .socialContainer {
        width: 100%;
        height: 30%;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 20px;
        }
    }

    .separator {
        width: 80%;
        height: 1px;

        background-color: lightgray;

        margin: auto;
        margin-top: 20px;
    }

    .navLinkContainer {
        width: 60%;
        height: 70%;

        margin: auto;

        position: relative;

        .hoverableContainer {

            width: 100%;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            display: flex;
            align-items: center;
            justify-content: space-around;

            p {
                font-size: 15px;
                font-weight: 300;

                cursor: pointer;

                transition: color 0.2s ease-in-out;

                &:hover {

                    color: black !important;

                }
            }

            &:hover>p {
                color: gray;
            }
        }
    }
}

//responsive 

.footerContainer {
    @media(max-width: 1120px) {
        .socialContainer {
            margin-top: 20px;
        }
        .navLinkContainer {
            width: 40%;

            .hoverableContainer {
                flex-wrap: wrap;

                p {
                    margin: 10px;
                }
            }
        }
    }

    @media(max-width: 860px) {
        .navLinkContainer {
            width: 50%;
        }
    }
    @media(max-width: 680px) {
        .navLinkContainer {
            width: 70%;
        }
    }
    @media(max-width: 495px) {
        .navLinkContainer {
            width: 80%;
            height: 300px;

            .hoverableContainer {
                flex-direction: column;
            }
        }
    }
}