.headerWrapper {
    width: 100vw;

    position: relative;

    .headerContainer {
        width: 95%;
        height: auto;

        margin: auto;

        
        display: flex;
        
        position: relative;
        
        .images {
            margin: 15px;
            min-width: 50%;
        }
    }
}

//responsive 

.headerWrapper {
    @media(max-width: 650px) {
        .headerContainer {
            flex-direction: column;
        }
    }
}