.secondTitleContainer {
    // background-color: blue;

    width: 90%;
    height: 150px;

    margin: 15px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .separator {
        width: 100%;
        height: 1px;
    
        background-color: gray;
    }

    p {
        font-size: 25px;
        letter-spacing: 3px;
        font-weight: 300;
        font-style: italic;
    }
}

.secondTitleContainer {
    @media(max-width: 530px) {
        height: 100px;
        p {
            font-weight: 100;
            font-size: 20px;
        }
    }
}