.firstContainer,
.secondContainer,
.thirdContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 25px 0;

    position: relative;

    .firstImage {
        width: 50%;
        height: 100%;

        position: relative;
    }

    .secondImage {
        width: 80%;
        height: 95%;


        position: relative;

    }

    .thirdWrapper {
        width: 90%;
        height: 100%;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;

        // margin-bottom: 100px;

        .equalSizes {
            width: 48%;
            height: 100%;

            position: relative;
        }
    }
} 

.firstContainer {
    .firstImage {
        @media(max-width: 768px) {
            min-width: 80%;
            height: 80%;
        }
    }
}


.secondContainer {

    @media(max-width: 1406px) {

        .secondImage {
            width: 90%;
        }
    }

    @media(max-width: 1250px) {

        height: 900px;

        .secondImage {
            width: 1000px;
            height: 800px;
        }
    }

    @media(max-width: 1050px) {

        height: 700px;

        .secondImage {
            width: 800px;
            height: 600px;
        }
    }

    @media(max-width: 840px) {

        height: 500px;

        .secondImage {
            width: 600px;
            height: 400px;
        }
    }

    @media(max-width: 640px) {

        height: 400px;

        .secondImage {
            width: 500px;
            height: 300px;
        }
    }

    @media(max-width: 540px) {

        height: 300px;

        .secondImage {
            width: 300px;
            height: 200px;
        }
    }

}

.thirdContainer {
    @media(max-width: 1334px) {
        height: 200vh;

        .thirdWrapper {
            flex-direction: column;

            .equalSizes {
                width: 100%;
                height: 48%;
            }
        }
    }
}