@import "../../../assets/utilities/font_variables.scss";

.titleWrapper {
    width: 90%;
    height: auto;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: $title-font;
        font-size: 28px;
        font-weight: 200;
    }

    .plainTextContainer > .plainText {
        font-family: $text-font;
        font-weight: 200;
        // font-size: 19px;
    }

    .titleFooter {
        font-family: $text-font;
        font-weight: 400;
    }

   @media(max-width: 395px) {
       .titleFooter {
           display: flex;
           flex-direction: column;
       }
   }
}