.textWrapper {
    width: 100vw;
    height: auto;

    padding: 0 200px;
    margin: 100px 0;
    margin-bottom: 150px;


    position: relative;


    .textContainer {
        width: 50%;

        p {
            font-weight: 150;
            font-size: 18px;
            line-height: 30px;

            margin: 30px 0;


            a {
                font-weight: 500;
            }
        }
    }
}



//responsive 

.textWrapper {
    @media (max-width: 1300px) {
        // padding: 0 100px;
    
        .textContainer {
            width: 550px;
        }
    }
    @media(max-width: 930px) {
        padding: 0;

        .textContainer {
            margin: auto;
        }

    }

    @media(max-width: 750px) {

        margin-bottom: 50px;
        margin-top: 50px;

        .textContainer {
            width: 450px;

            p {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 550px) {
        .textContainer {
            width: 400px;

            p {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 500px) {
        .textContainer {
            width: 330px;

            p {
                font-size: 13px;
            }
        }
    }

}