.heroLayout {
    width: 100vw;
    height: 200vh;

    position: relative;

    .bannerContainer {
        width: 100%;
        height: calc(50% - 200px);

        position: relative;

        .cartel {

            width: 675px;
            height: 250px;


            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);

            // background-color: red;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            @media(max-width: 1200px) {
                bottom: 50px;
            }
            @media(max-width: 800px) {
                width: 575px;

                .linkContainer {
                    width: 100%;

                    p {
                        font-size: 13px;
                    }
                }
            }
            @media (max-width: 610px) {
                width: 475px;

                .linkContainer > p {
                    font-size: 11px;
                }
            }

            @media(max-width: 500px) {
                width: 400px;
                height: 350px;
                

                .linkContainer  {
                    width: 77% !important;
                    // background-color: blue;
                    
                    p {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        font-size: 11px;
                    }
                }
            }
            @media(max-width: 430px) {
                width: 345px;

                h1 {
                    font-size: 22px !important;
                }

                h2 {
                    font-size: 20px !important;
                }
            }

            .separator {
                width: 100%;
                height: 0.9px;
                background-color: white;
                margin-top: 20px;
            }

            h1,
            h2,
            p {
                color: white;
                margin: 0;
            }


            h1 {
                font-weight: 300;
                font-size: 30px;
                letter-spacing: 5px;
            }

            h2 {
                font-weight: 300;
                font-size: 25px;
                letter-spacing: 3px;
            }

            .linkContainer {
                // background-color: red;
                width: 92%;

                margin: auto;

                p {
                    // display: flex;
                    // justify-content: space-around;
                    text-align: center;
                    letter-spacing: 3px;
                    font-weight: 300;
                    line-height: 30px;
                    color: lighten($color: gray, $amount: 30);

                    a {
                        text-decoration: underline;
                        // text-decoration: none;

                        position: relative;
                        color: white;

                        &:hover {
                            color: lighten($color: gray, $amount: 40);
                        }
                    }
                }
            }

            .arrowContainer {
                width: 30px;
                height: 30px;

                position: relative;
                // top: 10px;

                // background-color: red;

                // margin: 10px;

                cursor: pointer;

                .arrowBranch {
                    position: relative;
                    top: 10px;

                    width: 100%;
                    height: 1px;
                    background-color: white;

                    &:nth-child(1) {
                        transform: translateX(-37%) rotate(45deg);
                    }

                    &:nth-child(2) {
                        // transform: translateY(-1px) translateX(-50%) rotate(-45deg);
                        transform: translate(30%, -1px) rotate(-45deg);
                    }
                }
            }
        }
    }

}