@import "../../../assets/utilities/font_variables.scss";

.thirdGalleryLayout {
    .galleryName {
        width: 90%;

        margin: 50px auto;
   
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .line {
            width: 80%;
            height: 1px;

            background-color: lightgrey;
        }
        p {
            margin-top: 50px;


            font-family: $title-font;
            font-size: 22px;
            font-style: italic;
            font-weight: 200;
        }
    }

    @media(max-width: 525px) {
        .galleryName > p {
            font-size: 18px;
        }
    }
    @media(max-width: 430px) {
        .galleryName {
            .line {
                width: 90%;
            }
            p {
                font-size: 13px;
            }
        } 
    }
}