@import "../../../assets/utilities/font_variables.scss";

.titleWrapper {
    width: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    h1 {
        font-family: $title-font;
        font-size: 28px;
        font-weight: 300;
    }

    .plainText {
        font-family: $text-font;
        font-size: 17px;
        font-weight: 300;
    }

    .titleFooter {
        font-family: $text-font;
    }


    @media(max-width: 970px) {
        .plainText {
            font-size: 15px;
        }
        .titleFooter {
            font-size: 14px;
        }
    }
    @media(max-width: 730px) {
        .titleFooter {
            display: flex;
            flex-direction: column;
        }
    }
}